body .ticket-names-wrapper {
    margin: 20px 0 0 0;
    flex-direction: column;
    gap: 5px;
    max-width: 370px;
    width: 100%;
}

body .ticket-names-wrapper label {
    margin-bottom: 5px;
}

body .ticket-names-wrapper .ticket-name {
    display: flex;
    gap: 10px;
}

body .ticket-names-wrapper .ticket-name input {
    padding: 7px 16px;
    flex: 1;
    box-sizing: border-box;
}

.product-type-ticket form.cart {
    display: flex;
    flex-wrap: wrap;
}

.product-type-ticket .quantity .qty {
    box-sizing: content-box;
    text-align: center;
    width: 3.631em;
}

.product-type-ticket form.cart .quantity {
    align-items: stretch;
    display: inline-flex;
}