#ticket-validator {
    position: fixed;
    z-index: 999999;
    inset: 0;
    max-width: 100%;
    padding: 30px;
    flex-direction: column;
    display: flex;
    gap: 20px;
    background-color: #fff;
}

#ticket-validator h3 {
    margin: 0;
    font-size: 20px;
}

#ticket-validator #qr-video {
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
    max-width: 400px;
    background: #000;
    display: block;
    margin: 0 auto;
}

#ticket-validator #qr-result {
    margin: auto 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#ticket-validator #qr-result.failed {
    color: #fff;
    background-color: #ff0000;
}

#ticket-validator #restart-scan {
    color: #fff;
    background-color: #000000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}